description "{{ service_name }}"

start on (filesystem)
stop on runlevel [016]

respawn
setuid {{ user }}
setgid {{ group }}
chdir {{ checkout_path }}

# Listen on all interfaces
exec {{ env_path }}/bin/gunicorn --env ACCOUNT_TABLE={{ ACCOUNT_TABLE }} --env ACCOUNT_COLUMN={{ ACCOUNT_COLUMN }} --env SQLALCHEMY_DATABASE_URI={{ SQLALCHEMY_DATABASE_URI }} -b :{{ port }} --error-logfile {{ errorpath }}/error.log --log-level debug service:app
